{% extends "base.html" %} {% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 904px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Website Introduction</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="http://120.79.242.98:5000/english_outline">English Version</a></li>
                        <li class="breadcrumb-item"><a href="http://120.79.242.98:5000/single_factor_backtest">Backtest Framework</a></li>
                        <li class="breadcrumb-item"><a href="http://120.79.242.98:5000/original_docs">Database Query</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle" src="static/dist/img/Kane.jpeg" alt="User profile picture">
                            </div>
                            <h3 class="profile-username text-center">付亮</h3>
                            <p class="text-muted text-center">Kane Fu，ful.17@sem.tsinghua.edu.cn</p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- About Me Box -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">About Me</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <strong><i class="fa fa-book mr-1"></i> Education</strong>
                            <p class="text-muted">Bachelor of Science, Department of Physics, Tsinghua University; Master of Finance, School of Economics and Management, Tsinghua University</p>
                            <hr>
                            <strong><i class="fa fa-map-marker mr-1"></i> Location</strong>
                            <p class="text-muted">Beijing, Shenzhen</p>
                            <hr>
                            <strong><i class="fa fa-pencil mr-1"></i> Skills</strong>
                            <p class="text-muted">
                                <span class="tag tag-danger">Python, Javascript, simple Web Data Visualization, C++</span>
                            </p>
                            <hr>
                            <strong><i class="fa fa-file-text-o mr-1"></i> Notes</strong>
                            <p class="text-muted">
                                This website is deployed on Ali cloud server, the framework is Python+Flask+MongoDB+ jQuery+Jinja2
                            </p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="activity">
                                    <!-- Post -->
                                    <div class="post">
                                        <div class="user-block">
                                            <h3>
                          Research Introduction                         
                        </h3>
                                        </div>
                                        This project aims to discover alpha based on numerical feature and textual feature of insititutional research records. Listed Shenzhen A-share companys are obliged to disclose research records after been investigated by institutional investors. This information enjoys higher timeliness than analysts' attention but also higher noise.
                                        <br>
                                        <br> Data Source：Crawling 40k+ original Word PDF documents from SZSE official websites, 60k+ pages from EastMoney, parsing into json files and storage in MongoDB.
                                        <br>
                                        <br> Conclusion： the market neutral factor testing and portfolio backtesting shows that institutional research records do have significant alpha. Regression implicates a robust positive information coefficient of 1.3%, information ratio of RankIC is 0.233. Portfolio backtesting result shows strict monotony with best performance of anual return 21.3%, sharpe ratio 0.668, max drawdown 39.5%. The details of present materials:
                                        <a href="{{ url_for('static',filename='present.pdf') }}" target="_blank">PDF</a>
                                    </div>
                                    <!-- Post -->
                                    <div class="post">
                                        <div class="user-block">
                                            <h3>
                          Website Introduction                         
                        </h3>
                                        </div>
                                        This website uses Python Flask as back-end and is deployed on a self-purchased low-configuration Ali-cloud ECS server. The speed may not be fast.
                                        <text class="text-danger">Please browse in PC instead of phones </text>。The layouts may be disordered beacause of different screen resolution. This project is mainly designed for own research, so the displays are not optimized.
                                        <br>
                                        <br> The navigation bar on the left contains four panels：
                                        <br> "Database Query"：get reasearch records of a specific stock or an industry during specific period. The result contains keywords extraction, main fields of documents, chinese sentence segmentation and sentiment scores.
                                        <text class="text-success">Positive words</text>are highlighted in green,
                                        <text class="text-danger">negative words</text>are highlighted in red. Each query a sentence segmentation and sentiment grading will be conducted, so a long period means slow response.
                                        <br> "Database Summary": a detailed summary of database.
                                        <br> "Backtest Framework": the main module of this project, specific intro is presented below.
                                        <br> "Sentiment Grading Demo": a super simple algorithm and example.
                                    </div>
                                    <!-- Post -->
                                    <div class="post">
                                        <div class="user-block">
                                            <h3>
                          Backtest Framework Introduction                         
                        </h3>
                                        </div>
                                        <p>
                                            Stock pool size can be customized, I choose top 600 stocks with highest coverage rate of research records. The factor data standardizing process follows barra framework, explore its correlation with traditional factors like size, pb, turnover rate, momentum. Cross-section regression gives T-value serires and IC series, parameter sensitive analysis gives robust results.
                                            <text class="text-primary">You can zoom the browser to obtain optimal layouts</text>。
                                            <br>
                                            <br> The backtest module gives position profile of each portfolio , click on any stock will show its belonging portfolio during each period. The turnover rate of each portfolio and its size exposure each period are also presented.
                                        </p>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}