{% extends "base.html" %} {% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>数据库原始数据</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="http://119.23.40.188:5000/outline">回到主页</a></li>
                        <li class="breadcrumb-item active"><a href="http://119.23.40.188:5000/sent_demo">情感分析demo</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- 第一行是查询界面与云图 -->
                <div class="col-md-3">
                    <div class="card card-primary card-outline">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="form-group">
                                {% import "bootstrap/wtf.html" as wtf %}
                                {{ wtf.quick_form(form) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card card-primary card-outline">
                        <!-- /.card-header -->
                        <div class="card-body">
                            {{ wordcloud }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- 第二行是查询结果-->
                <div class="col-md-12">
                    <div class="card card-primary card-outline">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="form-group">
                                <div class="active tab-pane" id="activity">
                                    {% for doc in docs %}
                                    <div class="callout callout-info">
                                        股票: {{ doc.stkName }} &nbsp&nbsp 代码: {{ doc.stkCode }} &nbsp&nbsp 行业: {{ doc.stkIndustry }}
                                        <br> 活动日: {{ doc.activityDate }} &nbsp&nbsp 公告日: {{ doc.announceDate }} &nbsp&nbsp 活动类型: {{ doc.activityType }}
                                        <br> 调研人:<br>
                                          {%for org in doc.partOrgs %}
                                          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{org.orgName}} &nbsp&nbsp {{org.orgType}} &nbsp&nbsp {{org.partName}}
                                        <br>  {% endfor %}
                                        内容:<br>
                                         {{ doc.content }}
                                        <br>
                                        分词: {{ doc.cutWords|safe }}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /. box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}